<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="unife.icedroid">

    <application
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:theme="@style/AppTheme">

        <activity
            android:name=".ICeDROIDActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".CreateChatActivity"
            android:label="@string/create_chat"
            android:theme="@style/Theme.AppCompat.Dialog"/>

        <activity android:name=".ChatActivity"/>

        <service android:name=".services.BroadcastReceiveService" android:exported="false"/>

        <service android:name=".services.BroadcastSendService" android:exported="false"/>

        <service android:name=".services.HelloMessageService" android:exported="false"/>

        <service android:name=".services.ApplevDisseminationChannelService"
                android:exported="false" />

        <service android:name=".services.RoutingService" android:exported="false"/>

    </application>

    <uses-feature android:name="android.hardware.wifi" android:required="true" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />

</manifest>
